$iconColor: #00CC33;
$bgGrey: #EEE;

body{
  font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}
ul{
  list-style-type: none;
}
input[type="text"], input[type="email"], input[type="password"], select {
  border: 1px solid #b8b8b8;
  padding: 5px 12px;
  width: 100%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* ---------- selectbox ---------- */
.selectbox {
  position: relative;
}

.selectbox:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -2px;
  width: 0;
  height: 0;
  border-top: 5px solid #282c36;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  pointer-events: none;
}

.selectbox select {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

/* ---------- checkbox ---------- */

input[type=checkbox] {
  display: none;
}

.checkbox {
  box-sizing: border-box;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  position: relative;
  display: inline-block;
  padding: 8px 0 8px 30px;
  vertical-align: middle;
  cursor: pointer;

  &:after {
    -webkit-transition: border-color 0.2s linear;
    transition: border-color 0.2s linear;
    position: absolute;
    top: 50%;
    left: 5px;
    display: block;
    margin-top: -8px;
    width: 16px;
    height: 16px;
    border: 2px solid #bbb;
    border-radius: 6px;
    content: '';
  }
}

.checkbox {
  &:before {
    position: absolute;
    top: 50%;
    left: 11px;
    display: block;
    margin-top: -7px;
    width: 5px;
    height: 9px;
    border-right: 3px solid $iconColor;
    border-bottom: 3px solid $iconColor;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    input[type=checkbox]:checked + & {
      opacity: 1;
    }
  }
}

a {color: #444;}

.align-center{
  text-align: center;
}

.layout-rule {
  margin: 0 auto;
  padding: 10px;
  width: 800px;
  @media (max-width: 800px) {
    width: 100%;
  }
}

.item {
  margin-bottom: 10px;
}

.btn {
  background: $bgGrey;
  border: 1px solid #DDD;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #111;
  padding: 5px;
  margin: 0 5px;
  text-align: center;
  width: 100%;
}
input.btn {
  cursor: pointer;
}

.buttons {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;

  margin-top: 20px;
}
.rows {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
.rows-center {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
}

.columns {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.notice {
  color: #FF0000;
}

.hide {
  display: none;
}

.closeBtn {
  margin-right: 5px;
  height: 13px;
  width: 13px;
  display: inline-block;
  position: relative;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #333;
}

.closeBtn:before, .closeBtn:after {
  content: '';
  height: 9px;
  width: 3px;
  display: block;
  background: $bgGrey;
  position: absolute;
  top: 2px;
  left: 5px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.closeBtn:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header{
  background-color: #4169e1;
  .header_content{
    padding: 5px 10px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    h1{
      margin-right: auto;
    }

    .logo {
      font-weight: bold;

      font-size: 2.4rem;
      @media (max-width: 800px) {
        font-size: 1.6rem;
      }
    }
    .logo:link, .logo:visited, .logo:active { color: #fff; }
  }
}

.subject {
  padding: 10px 0;
}

/////////////////////////
// hamburger menu
/////////////////////////
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  -webkit-transition: all 0s;
  transition: all 0s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 30px;
  height: 26px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

$interval: 11px;

.menu-trigger span:nth-of-type(1) {
  top: 0;
}
.menu-trigger span:nth-of-type(2) {
  top: $interval;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

/////////////////////////
// menu
/////////////////////////

.menu_parent {
  position: relative;
  padding: 0;
}
ul.menu {
  z-index: 1;
  width: 200px;
  position: absolute;
  right: 0;
  text-align: center;
  border: 1px solid #b8b8b8;
  background: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  font-size: 16px;
  li {
    border: 1px solid #b8b8b8;
    padding: 5px 8px;
  }
}

/////////////////////////
// welcome
/////////////////////////

.header_welcome{
  background: #418b89;
  -webkit-background-size: cover;
  background-size: cover;
  margin-bottom: 20px;
  .header_container {
    padding: 30px;
  }
  .logo_welcome {
    font-size: 3.6rem;
  }
  .description {
    font-size: 1.625rem;
  }

  @media (max-width: 920px) {
    margin-bottom: 10px;
    .logo_welcome {
      font-size: 2.4rem;
    }
    .description {
      font-size: 1.125rem;
    }
  }

  color: #FFFFFF;
}

#loginBtn {
  img {
    width: 390px;
    @media (max-width: 390px) {
      width: 100%;
    }
  }
}

.switch_parent {
  margin-bottom: 20px;
  font-size: 1.175rem;
  li{
    margin-right: 20px;
  }
}
.switch_selected {
  color: #999;
}

/////////////////////////
// account
/////////////////////////

input#artist_name {
  padding: 3px;
  font-size: 18px;
}

.candidates_parent {
  position: relative;
}
ul.candidates {
  z-index: 1;
  display: none;
  width: 60%;
  @media (max-width: 800px) {
    width: 100%;
  }

  top: -1px;
  position: absolute;
  text-align: left;
  left: 0;
  border: 1px solid #b8b8b8;

  background: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);

  font-size: 16px;

  li {
    border: 1px solid #b8b8b8;
    padding: 10px 3px 11px 8px;
    cursor: pointer;
  }
}

.artist_name {
  margin: 0 10px 10px 0;
  text-decoration: underline;
}

ul.artists li {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;

  margin: 0 10px 10px 0;

  background: $bgGrey;
  border: 1px solid #DDD;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #111;
  padding: 2px 3px;
}

.delete_artist {
  width: 20px;
}

/////////////////////////
// list
/////////////////////////

ul.delivery-list li {
  margin-bottom: 20px;
  img{
    width: 100%;
  }
}

/////////////////////////
// list
/////////////////////////

.like_artist_parent {
  margin-top: 10px;
}