<!DOCTYPE html>
<html>
<head>
    <title>NHK Reminder</title>
    <!--
    <meta name="description" content="<%= MY_APP['meta']['description'] %>">
    <meta property="og:title" content="<%= @meta_title %>">
    <meta property="og:image" content="<%= @og_image %>">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:description" content="<%= MY_APP['meta']['description'] %>">
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sanitize.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
{% block header %}
    {% include 'Header.html' %}
{% endblock %}
<div class="layout-rule">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>