{% extends "Layout.html" %}
{% block header %}
    {% include 'HeaderWelcome.html' %}
{% endblock %}
{% block content %}
    <ul class="item rows-center switch_parent">
        <li><a href="#" class="switch_selected">{{ 'signup'|trans }}</a></li>
        <li>|</li>
        <li><a href="/login" class="">{{ 'login'|trans }}</a></li>
    </ul>
    <form action="/" method="post">
        {{ form_errors(form) }}

        <!--email-->
        {{ form_row(form.email) }}
        <!--/email-->
        <!--/area-->
        <div>
            {{ form_label(form.area) }}
            {{ form_errors(form.area) }}
            <div class="selectbox">
                {{ form_widget(form.area) }}
            </div>
        </div>
        <!--/area-->
        <!--password-->
        {{ form_row(form.password) }}
        <!--/password-->

        {{ form_widget(form._token) }}
        <div class="item buttons">
            <input type="submit" class="btn"/>
        </div>
    </form>
{% endblock %}