{% extends "Layout.html" %}
{% block header %}
    {% include 'HeaderWelcome.html' %}
{% endblock %}
{% block content %}
    <ul class="item rows-center switch_content_parent">
        <li class="switch_content switch_content_first <%= @switch_content_signup_selected %>">{{ 'signup'|trans }}</li>
        <li class="switch_content_separator">|</li>
        <li class="switch_content <%= @switch_content_login_selected %>">{{ 'login'|trans }}</li>
    </ul>
    {{ form_widget(form) }}
    <input type="submit" />
{% endblock %}