{% extends "Layout.html" %}
{% block header %}
    {% include 'HeaderWelcome.html' %}
{% endblock %}
{% block content %}
    <ul class="item rows-center switch_content_parent">
        <li><a href="#" class="switch_content {{ switch_content_selected_signup }}">{{ 'signup'|trans }}</a></li>
        <li>|</li>
        <li><a href="#" class="switch_content {{ switch_content_selected_login }}">{{ 'login'|trans }}</a></li>
    </ul>
    <form action="/signup" method="post" class="form {{ class_hide_signup }}">
        {{ form_widget(form_signup) }}
        <div class="item buttons">
            <input type="submit" class="btn"/>
        </div>
    </form>
    <form action="/login" method="post" class="form {{ class_hide_login }}">
        {{ form_widget(form_login) }}
        <div class="item buttons">
            <input type="submit" class="btn"/>
        </div>
    </form>
{% endblock %}
{% block js_list %}
    <script src="/js/switch_content.js"></script>
{% endblock %}